NODE_ENV=development

VENDOR_SERVICE_PORT=3001
PROCUREMENT_SERVICE_PORT=3002
INVENTORY_SERVICE_PORT=3003

RABBITMQ_URL=amqp://localhost:5672
VENDOR_DATABASE_URL=postgresql://vendor_user:vendor_password@localhost:5433/vendor_db
PROCUREMENT_DATABASE_URL=
INVENTORY_DATABASE_URL=
